<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Couchy —A wonderful tool for creating interactive data with plain old html</title>
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print"> 
    <!--[if IE]>
      <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
  </head>
  <body>
    <div class="container" id="header">
      <h1>Couchy</h1>
      <p>Deliciously simple translation from plain html to interactive app.</p>
      <p><a href="/pages">Pages</a> <a href="/templates">Templates</a></p>
    </div>
    
    <div class="container" id="header">
      <%= yield %>
    </div>
  </body>
</html>