<html>
  <head></head>
  <body>    
    <h1 id="title" class="schema">My new document</h1>
    <span id="date" class="schema">25th January 2008</span>
    <p id="body" class="schema">My great stuff</p>
    <em id="second-body" class="schema">Oh, maybe it needs a demo</em>
    <strong id="third-body" class="schema">I mutha-fucking rule!</strong>
    <div id="fourth-body" class="schema">This is like magic</div>
    <div id="classic" class="schema">I'd like to see you try this in SQL</div>
    <ul class="list">
      <li class="item">Awesome item</li>
      <li class="example">Second test item</li>
      <li class="example">Third test item</li>
    </ul>
  </body>
</html>